@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

.ColorPicker {

  button {
    color: white;
    border: dotted .5px black;
    height: 100px;
    width: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    outline: none;
  }

  .mediumvioletred {
    background-color: mediumvioletred;
  }
  .yellow {
    background-color: yellow;
  }
  .chartreuse {
    background-color: chartreuse;
  }
  .deepskyblue {
    background-color: deepskyblue;
  }

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
}
}
