@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

.ColorPicker {

  button {
    color: white;
    border: dotted .5px black;
    height: 100px;
    width: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
  }

  .cerise {
    background-color: #DE3163;
  }
  .saffron {
    background-color: #ffe033;
  }
  .viridian {
    background-color: #40826D;
  }
  .capri {
    background-color: #00BFFF;
  }

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
}
}
